
/*---------------------------основная разметка-------------------------------------------- */
:root {
   --primary-text-color:#212121;
   --secondary-text-color: #757575;
   --accent-color: #2196F3; 
   --primary-white-color: #FFFFFF;
   --primary-bgcolor:#2F303A;
   --secondary-bgcolor: #E5E5E5;
   --tertiary-bgcolor: #F5F4FA;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--primary-text-color);
    font-family: 'Roboto',sans-serif;
    margin: 0 auto;
    height: auto;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section { 
    padding: 94px 0;
    margin: 0 auto;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin:0 auto;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} 

/*--------------------все списки на страницах-----------------------------*/
.list {
    list-style-type:none;
    display: flex;
    flex-direction: row;
    margin:0 auto;
}


/*----------------------------Хедер--------------------------------------- */

.header{ 
    background-color: var(--primary-white-color);
    border-bottom: 1px solid #ECECEC;
    height: auto;
    margin: 0 auto;
    padding: 25px 0;

}

.header-box {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: flex-start;
}


.menu-nav {
    list-style-type:none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0 auto;
    padding-left: 0;
}

.menu-nav li {
    margin-right: 50px;
    
}

.header-list { 
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list:hover, 
.header-list:focus,
.header-list.active { 
    color: var(--accent-color);
    
}

.header-list:hover svg {
    fill: var(--accent-color);
    
}

.header-list:focus svg {
    fill: var(--accent-color);
}

.header-list:active svg {
    fill: var(--accent-color);
}

.header-list.active {
    position: relative;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list.active::after {
    position: absolute;
    content: '';
    display:inline-block;
    height: 4px;
    width: 100%;
    background: var(--accent-color);
    left: -1px;
    bottom: -28px;
    border-radius: 2px;
}

.header-contacts {
    margin-left: 186px;
    padding: 0;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: flex-start;
}

.header-contacts li {
    margin-left: 50px;
    display: flex;
    align-items: center;
}


.contact1 {
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
}


.email {
    display: inline-block;
    object-fit: contain;
    margin-right:10px;
    cursor: pointer;
    fill:#757575;
    max-height: 12px;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}



.phone {
    display: inline-block;
    object-fit: contain;
    margin-right:10px;
    cursor: pointer;
    max-height: 16px;
    fill:#757575;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}


/*---------------------Logo  (2 для хедера, 3 для футера)--------------------------*/

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
}

.logo2 {
    color: var(--primary-text-color);
}

.logo3 { 
    color: var(--primary-white-color);
}

/*--------------------------------INDEX контент --------------------*/

.main {
    margin: 0 auto;
    padding: 0;
    height: auto;
    display: block;
}

/*--------------------------------INDEX качества компании hero section 1----------------------------------- */

.hero {
    background-color: var(--primary-bgcolor);
    height: auto;
    margin:0 auto;
    padding:200px 0;
}

.hero-background {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.hero-heading {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform:uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0 auto;
    margin-bottom: 30px;

}

/* -------------------------------INDEX btn modal window---------------- */

.hero-btn {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 200px;
    margin: 0px auto;
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    
}

.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}
.backdrop {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin: 0;
    padding: 40px;
    width: 528px;
    height: 581px;
    background-color: var(--primary-white-color);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    z-index: 10;
    transition: background-color 1s ease-in; 
    top: 50%;
    left: 50%;
    transition-duration: 250ms;
    transform: translate(-50%, -50%); 
}

.close-hero-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    
}

.close-hero-btn:hover,
.close-hero-btn:hover svg {
    cursor: pointer;
} 

.modal-header {
    margin:0 0 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.15;
    font-size: 20px;
    color: #212121;
    letter-spacing: 0.03em;
    -webkit-text-size-adjust: 100%;
    text-align: center ;
}

.modal-form-label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.16;
    font-size: 12px;
    letter-spacing: 0.01em;
    -webkit-text-size-adjust: 100%;
    color: rgba(117,117,117,1);
    margin-bottom: 4px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.modal-form div:not(:last-of-type) {
    padding: 0;
    margin:0 0 10px;
    -webkit-text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal-input {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.16;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    height: 40px;
    min-width: 100%;
    border: 1px solid rgba(33,33,33,0.2);
    border-radius: 4px;
    cursor: pointer;
    padding-left: 40px;
    text-align: start;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover,
.modal-textarea:focus,
.modal-textarea:hover {
    border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
    fill: var(--accent-color);
}

.modal-textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33,33,33,0.2);
    cursor: pointer;
    border-radius: 4px;
    resize: none;
}
.modal-textarea::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.16;
    font-size: 12px;
    letter-spacing: 0.01em;
    -webkit-text-size-adjust: 100%;
    color: rgba(117,117,117,0.5);
}

.input-name-box .modal-icon,
.input-email-box .modal-icon,
.input-tel-box .modal-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 37px;
    left: 16px;
    transform: translateY(-50%);
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0 0;
    position: relative;
}
.modal-check-box p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-size: 14px;
    letter-spacing: 0.03em;
    -webkit-text-size-adjust: 100%;
    color: rgba(117,117,117,1);
    padding: 0;
    margin-left: 8px;
}

.modal-check-box a {
    color: var(--accent-color);
}
.checkbox-modal {
    margin: 0;
    padding: 0; 
    width: 16px;
    height: 15px;
}

.modal-check-label span {
width: 16px;
height: 15px;
border: rgba(33, 33, 33, 1) solid;
border-radius:2px;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
left: 0;
top: 4px;
}

.icon-checkbox {
    fill: transparent;
    width: 16px;
    height: 15px;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-modal:checked {
    border: transparent;
}

.checkbox-modal:checked +.modal-check-label>span {
    background-color: var(--accent-color);
    border: none;
    
}

.checkbox-modal:checked +.modal-check-label .icon-checkbox {
    fill: var(--primary-white-color);
}

.modal-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: 200px;
    padding: 10px 55px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.87;
    font-size: 16px;
    letter-spacing: 0.06em;
    -webkit-text-size-adjust: 100%;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    margin: 30px 123px auto;
    border-radius: 4px;
    border: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0,0, 0.15);
}

/* ---------------------------about section2----------------- */

.about {
    background-color: var(--primary-white-color);
    height: auto;
    margin: 0 auto;
}

.about-box {
    display: flex;
    align-items: stretch;
}

.about-list {
    margin:0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}

.about-list li {
    width: 270px;
    height: auto;
}

.about-list li:not(:last-of-type) {
    margin-right: 30px;
}

.about-icon-box {
    margin-bottom: 30px;
    width:270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: rgba(245, 244, 250, 1);
}

.about-icon {
    object-position: center;
    object-fit: contain;
    position: 50% 50%;
}


.about-heading {
    font-size: 14px;
    line-height: 1.14;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}

.description {
    color: var(--secondary-text-color);
    font-weight: 400;
    
}

.about-description {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em; 
    font-weight: 400; 
}


/*--------------------------INDEX section3 описание услуг-----------------------*/

.trades {
    background-color: var(--primary-white-color);
    height: auto;
    margin: 0 auto;
    display: block;
    padding-top:0;
}

.trades-box {
    margin: 0 auto;
}

.trades-heading {
    font-size: 36px;
    line-height: 1.16;
    color: inherit;
    margin: 0 auto 50px;
    text-align: center;

}

.trades-list{
    margin: 0 auto;
    padding: 0;
}

.trades-list li:not(:last-of-type) {
    margin-right: 30px;
}

.trades-img {
    display: block;
    max-width: 100%;
    height: 294px;
}


.trades-list li {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.trade-img-box {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.trade-img-box > p {
    position: absolute;
    top: 224px;
    margin: 0;
    text-align: center;
    padding-top: 27px;
    background: rgba(47, 48, 58, 0.8);
    height: 70px;
    width: 370px;
    

    font-family: 'Roboto'sans-serif;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-white-color);
    text-transform: uppercase;
    font-weight: 700;
}

/*------------------------------INDEX section4 наша команда---------------------------------------------*/

.team {
    background-color: var(--tertiary-bgcolor);
    height: auto;
    margin: 0 auto;
    display: block;
}

.team-box {
    margin: 0 auto;
    
}

.team-heading{
    font-size: 36px;
    line-height: 1.16;
    color: inherit;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.team-list {
    margin: 0 auto;
    padding: 0;
}

.team-list .team-list-hero{
    padding: 0;
    background-color: var(--primary-white-color);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.team-list-hero {
    display: block;
    max-width:270px
}

.team-list .team-list-hero:not(:last-of-type){
    margin-right:30px;
}

.team-name {
    display: block;
    padding:30px ;
    text-align: center;
}
.team-subheading {
    font-style: medium;
    font-size: 16px;
    line-height: 1.18;
    color: inherit;
    margin-bottom: 10px;
}

.team-description{
    color: var(--secondary-text-color);
    font-weight: 400;
    
}

.team-link-list {
    display: flex;
    margin-top:16px ;
    padding: 0;
}

.team-link-list li:not(:last-child){
    margin-right: 10px; 
}

.team-link-list li{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-link { 
    margin:0 auto;
    padding: 0;
    border-radius: 50%;
    width: 44px;
    height: 44px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus,
.team-link:active {
    background-color: var(--accent-color);
}

.team-social-icon {
    fill: #afb1b8;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover .team-social-icon,
.team-link:focus .team-social-icon,
.team-link:active .team-social-icon {
    fill: var(--primary-white-color);
}


/* --------------------------------INDEX clients--------------------- */
.clients {
    background-color: var(--primary-white-color);
    height: auto;
    margin: 0 auto;
}

.clients-box {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.clients-heading {
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: inherit;
    margin: 0 auto;
    margin-bottom: 50px;
}

.clients-list {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

.clients-list li {
    width: 170px;
    height: 92px;
    cursor: pointer;
    margin: 0 auto;
    padding: 0;
}

.clients-link:focus,
.clients-link:active,
.clients-link:hover {
    border-color: var(--accent-color);
    fill: var(--accent-color);
    
}

.clients-link:hover svg {
    fill: var(--accent-color);
    
}
.clients-link:focus svg {
    fill: var(--accent-color);
    
}

.clients-list li:not(:last-of-type) {
    margin-right: 30px;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:none;
    border:1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
    object-fit: contain;
    object-position: center;
    fill: #afb1b8;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------------------------------FOOTER-----------------------*/

.footer {
    background-color: var(--primary-bgcolor);
    height: auto;
    margin: 0 auto;
    padding-top:60px;
    padding-bottom: 60px;
}

.footer-main-list {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.footer-box-adress {
    width: 230px;
}

.footer-address {
    padding: 0;
}

.footer-list {
    list-style-type:none;
    margin-top:20px;
    margin-left: 0;
    padding-left: 0;
}

.footer-list li {
    margin-left: 0;
    padding-left: 0;
}

.footer-list li:not(:last-of-type) {
    margin-bottom: 9px;
}

.footer-link {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-white-color);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active { 
    color: var(--accent-color);
    
}

.footer-contact {
    color: rgba(255,255,255, 0.6);
}

.footer-social-link {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 12px ;
    padding: 0;
}

.footer-header {
    font-family:'Roboto',sans-serif;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 14px;
    line-height: 0.87;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0;
    margin-left: 0;
}

.social {
    padding: 0;
    margin: 0 auto;
}

.social li {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 44px;
    max-height: 44px;
    margin-right: 10px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus,
.social-link:active {
    background-color: var(--accent-color);
    
}

.footer-form-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 80px;
    margin-top: 12px ;
    padding: 0;
}

.footer-form {
    display: flex;
    flex-direction: row;
}

.footer-form-header {
    font-family:'Roboto',sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 0.87;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0;
    margin-left: 0; 
}

.footer-form-input{
    display: inline-block;
    width: 358px;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.footer-form-input input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #2F303A;
    margin-right:12px;
    padding-left: 16px;
    font-family:'Roboto',sans-serif;
    font-weight: 700;
    color: var(--primary-white-color);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}

.footer-input::placeholder {
    font-family:'Roboto',sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}

.footer-btn {
    display: flex;
    flex-direction: row;
    margin:0 auto;
    padding:10px 28px;
    font-family:'Roboto',sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 0.53;
    letter-spacing: 0.06em;
    text-transform:capitalize;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    height: 50px;
    min-width: 200px;
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}


.container-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container-btn svg{
    height: 24px;
    width: 24px;
    margin-left: 10px;
    padding: 0;
}
/*----------------------------PORTFOLIO контент----------------------------------*/

.portfolio {
    background-color: var(--primary-white-color);
    height: auto;
    margin: 0 auto;
    display: block;

}

.portfolio-box {
    margin: 0 auto;
}

/*--------------------------PORTFOLIO buttons------------------------------------*/

.portfolio-btn { 
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 56px;
    
}

.portfolio-btn li:not(:last-of-type) {
    padding-right: 8px;
}

.portfolio-btn-filter {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    border: 1px solid transparent;
    text-align: center;
    border-radius: 4px;
    height: 38px;
    min-width: 73px;
    padding: 6px 22px;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio-btn-filter:hover,
.portfolio-btn-filter:focus,
.portfolio-btn-filter:active {
    background-color: var(--accent-color);
    color:var(--primary-white-color);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
        0 1px 2px 0 rgba(0, 0, 0, 0.08),
        0 3px 1px 0 rgba(0, 0, 0, 0.01);
    
}


/*------------------------PORTFOLIO сеть картинок-фильтров-------------------------*/

.portfolio-items {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;
    width: inherit;
}

.portfolio-items li {
    background-color: var(--primary-white-color);
    margin:0 30px 30px 0;
    padding: 0 auto;
    width: 370px;
    height: 404px;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items li:hover,
.portfolio-items li:focus {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
        0 4px 4px 0 rgba(0, 0, 0, 0.06),
        0 1px 1px 0 rgb(0,0,0, 0.12);
    
}

.items-img-box {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 294px;
}

.portfolio-items li:hover .items-img-overlay {
    transform: translateY(0);
    
}

.items-img-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.items-img-overlay p {
    font-family: 'Roboto'sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    margin: 0 auto;
    text-align: left;
    padding: 63px 24px;
}


.items-sign {
    margin: 0 auto;
    padding: 20px 24px;
    text-align: left;
    width: inherit;
    border: 1px solid rgba(238, 238, 238, 1);
    border-top: transparent;
}

.portfolio-heading {
    color: inherit;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
}

.portfolio-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}

/*portfolio конец сетки картинок-фильтров*/
/*portfolio конец контента*/






