.header{ 
    background-color: var(--primary-white-color);
    border-bottom: 1px solid #ECECEC;
    height: auto;
    margin: 0 auto;
    padding: 25px 0;

}

.header-box {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: flex-start;
}


.menu-nav {
    list-style-type:none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0 auto;
    padding-left: 0;
}

.menu-nav li {
    margin-right: 50px;
    
}

.header-list { 
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list:hover, 
.header-list:focus,
.header-list.active { 
    color: var(--accent-color);
    
}

.header-list:hover svg {
    fill: var(--accent-color);
    
}

.header-list:focus svg {
    fill: var(--accent-color);
}

.header-list:active svg {
    fill: var(--accent-color);
}

.header-list.active {
    position: relative;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list.active::after {
    position: absolute;
    content: '';
    display:inline-block;
    height: 4px;
    width: 100%;
    background: var(--accent-color);
    left: -1px;
    bottom: -28px;
    border-radius: 2px;
}

.header-contacts {
    margin-left: 186px;
    padding: 0;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: flex-start;
}

.header-contacts li {
    margin-left: 50px;
    display: flex;
    align-items: center;
}


.contact1 {
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
}


.email {
    display: inline-block;
    object-fit: contain;
    margin-right:10px;
    cursor: pointer;
    fill:#757575;
    max-height: 12px;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}



.phone {
    display: inline-block;
    object-fit: contain;
    margin-right:10px;
    cursor: pointer;
    max-height: 16px;
    fill:#757575;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}


.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
}

.logo2 {
    color: var(--primary-text-color);
}

.logo3 { 
    color: var(--primary-white-color);
}